/.elixir_ls/
/_build/
/deps/
/node_modules/
/.tmp/

apps/mobile/.expo/
apps/mobile/.expo-shared/
apps/mobile/node_modules/
apps/mobile/npm-debug.log*
apps/mobile/yarn-debug.log*
apps/mobile/yarn-error.log*

api/_build/
api/cover/
api/deps/
api/doc/
api/erl_crash.dump
api/*.ez
api/*.beam
api/config/*.secret.exs

.DS_Store
Thumbs.db
